# macOS
.DS_Store

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Expo / React Native
.expo/
.expo-shared/
.expo-dev-cache/
expo/web-build/
web-build/
dist/
*.keystore

# iOS / Xcode / CocoaPods
ios/Pods/
ios/build/
ios/DerivedData/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcuserdata/
*.xcuserstate/

# Misc
.env
.env.*
coverage/
.tmp/
